body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #DA5115;
}

.quem-somos {
    background-color: #8181f7;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: aqua;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}